#copy to .env and fill in with values specific to your workflow

# generally leave these as is until you are ready to truly update data
dryRun='True'
LOG_LEVEL='DEBUG'

DHIS_URL="your-url" 
DHIS_TOKEN="your-token"

#id of parent orgUnit. Ifanadiana: "VtP4BdCeXIo"
PARENT_OU="VtP4BdCeXIo" 
#hierarchy level of orgUnit you are focused on
#for Ifanadiana, 6 = fokontany, 5 = CSB
OU_LEVEL='5'
DISEASE_CODE="pridec_historic_yourDataElement" #corresponds to DHIS2 dataElement code of disease to predict

#for importing GEE data
GEE_PROJECT = "YOUR_GEE_PROJECT_NAME"
GEE_SERVICE_ACCOUNT="YOUR_SERVICE_ACCOUNT@YOUR_CLOUD_PROJECT.iam.gserviceaccount.com"

#the below is only needed for Pivot-specific workflows to update DHIS2 data
PIVOT_URL="pivot-production-url"
PIVOT_TOKEN="your-token-for-pivot-instance"